/* @import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&display=swap"); */

/* :root {
    --primary: #e99401;
    --negro: #262626;
    --blanco: #fff;
    --fuente-principal: 'Outfit', sans-serif;
} */

html {
  font-size: 62.5%;
  box-sizing: border-box;
}
*,*:before, *:after {
  box-sizing: inherit;
}

body {
  font-size: 2rem;
  line-height: 1.5;
  margin: 0;
  background-color: #141414;
  overflow-x: hidden;
}

img {
  max-width: 100%;
}

[class*='contenedor'] {
  max-width: 150rem;
  margin: 0 auto;
  width: 95%;
}

[class*='contenedor2'] {
  max-width: 100rem;
  margin: 0 auto;
  width: 95%;
}

[class*='separacion'] {
  padding: 10rem 0;
}


