.heading {
    background-image: url(../public/img/fondo1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    margin-bottom: 2rem;
}

@media (min-width: 768px) {
    .heading {
        background-position: center center;
    }
}

.imagenSerie {
    position: absolute;
    padding-top: 3rem;
}

@media (min-width: 768px) {

    .imagenSerie {
        position: absolute;
        bottom: 120px;
        left: -50px;
        padding: 0;
    }

}

.acciones {
    position: absolute;
    left: 125px;
    bottom: 50px;
}

.acciones button {
    margin-right: 5rem;
    font-size: 1.9rem;
    padding: .8rem 3.2rem;
}